{
    "extends": "next",
    "plugins": [
        "react"
    ],
    "rules": {
        "@next/next/no-img-element": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/no-unescaped-entities": "off",
        "react/jsx-no-target-blank": "off",
        "jsx-a11y/alt-text": [0]
    }
}
