@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}